<h2>My skills...</h2>


<div class="container">

    <div class="skill"><p>HTML</p><div class="progressclean"><div class="progressfull" id="html"><p>{{html}}</p></div></div></div>

    <div class="skill"><p>CSS</p><div class="progressclean"><div class="progressfull" id="css"><p>{{css}}</p></div></div></div>

    <div class="skill"><p>Python</p><div class="progressclean"><div class="progressfull" id="py"><p>{{py}}</p></div></div></div>

    <div class="skill"><p>javaScript</p><div class="progressclean"><div class="progressfull" id="js"><p>{{js}}</p></div></div></div>

    <div class="skill"><p>Nodejs</p><div class="progressclean"><div class="progressfull" id="njs"><p>{{njs}}</p></div></div></div>

    <div class="skill"><p>Angular</p><div class="progressclean"><div class="progressfull" id="ang"><p>{{ang}}</p></div></div></div>

    <div class="skill"><p>Linux</p><div class="progressclean"><div class="progressfull" id="linux"><p>{{linux}}</p></div></div></div>

    <div class="skill"><p>M.L.</p><div class="progressclean"><div class="progressfull" id="ml"><p>{{ml}}</p></div></div></div>

    <div class="skill"><p>Pi pico</p><div class="progressclean"><div class="progressfull" id="pico"><p>{{pico}}</p></div></div></div>


</div>