h2
{
    font-size: 48px;
    font-family: 'Press Start 2P', cursive;


    color: black;

    margin: 20px;
    margin-top: 50px;
}




.container
{
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skill 
{
    width: 90%;

    display: flex;
    justify-content: space-between;
    align-items: center;


    margin-top: 20px;
    margin-bottom: 20px;
}

.progressclean
{
    background-color: rgb(192, 243, 243);
    border-radius: 50px;
    width: 80%;
    height: 20px;
}

.progressfull
{
    background-color: rgb(36, 182, 182);
    border-radius: 50px;
    width: 0%;
    height: 100%;
    transition: all ease-in-out 1s;

    display: flex;
    justify-content: right;
    align-items: center;
}

.progressfull p
{
    padding: 2px;
    margin-right: 10px;
    font-size: 10px;
}
 

.skill p
{
    color: black;
    font-family: 'Press Start 2P', cursive;
}